*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#root {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.todolist-body {
  background-color: powderblue;

  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  
  padding: 40px 20px;
  
  @media (min-width: 768px) {
    width: calc(100% - 80px);
    min-height: 50vh;
    margin: 40px;
    padding: 40px;
    border-radius: 50px;
  }
  @media (min-width: 1280px) {
    width: 70vw;
  }
}

.h1 {
  font-size: 48px;
  text-align: center;
}

.top-buttons {
  display: flex;
  gap: 10px;

  @media (max-width: 767px) {
    flex-direction: column;

    .button {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}
